.acсounts-management-panel {
    display: flex;
    flex-direction: column;

    width: 1100px;

}

.acсounts-management-panel * {
    font-size: 32px;
}

.search, .account {
    padding: 5px 30px;

}

.account {
    display: flex;
    justify-content: center;

    color: black;

    text-align: center;
}

.name {
    text-align: center;
}