.trainer {
    display: flex;
    flex-direction: column;

    width: 700px;
}

.choosed-wordsset {
    background-color: #40EF57;
}

.wordsssets-panel {
    position: absolute;

    left: 0px;
    top: 0px;

    height: 100%;
    width: 300px;

    overflow-y: scroll;

    display: flex;
    flex-direction: column;

    background-color: #C4C4C4;
}

.wordsset, .search {
    font-size: 35px;
    margin-top: 20px;
}

.search {
    text-align: center;
}

.open-wordssets-panel {
    position: absolute;
    left: 20px;
    top: 20px;
    
    display: inline-block;
    cursor: pointer;

    background-color: white;
    padding: 10px;
}

.bar {
    width: 35px;
    height: 5px;
    background-color: #333;
    margin: 6px 0;
}

.trainer * {
    font-size: 30px;
}

.words-container {
    display: flex;
    flex-flow: row wrap;
    background-color: white;

    padding: 15px;

    height: 200px;
    overflow-y: hidden;
}

.words-container p {
    padding: 10px;
}

.words-input {
    margin-top: 20px;
    padding: 5px;
}

.begin {
    width: 200px;
    margin: 20px auto 0px;
    text-transform: uppercase;
}

.highlight {
    background-color: #C4C4C4;
}

.correct-word {
    color: #20d600;
}

.wrong-word {
    color: red;
}