* {
    margin: 0px;
    padding: 0px;
    font-family: 'Spectral SC', sans-serif;
}

body, html {
    height: 100%;
}

body {
    background-color: #88B9DC;

    display: flex;

    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.page-title {
    font-size: 50px;
    text-align: center;

    position: absolute;
    
    left: 0px;
    right: 0px;
    top: 0px;

    text-transform: uppercase;

}

.form-title {
    font-size: 35px;
    text-transform: uppercase;
}

input, button {
    border: 0px;
}

input[type="submit"], button {
    cursor: pointer;
}

.enumeration:nth-child(2n) {
    background-color: #FFACAC;
}

.enumeration:nth-child(2n + 1) {
    background-color: #FFCCCC;
}